:root {
    --black: #0D0C0C;
    --textColor: #F4796B;
    --headerFontSize: 1.50rem;
    --bgColor: #5B1818;
    --red: #751c1c;
    --highLightedColor: #F44E3F;
    /*https://coolors.co/0d0c0c-751c1c-dd2c2c-f44e3f-f46455-f4796b-f4998d-f5a297-f6aaa0-f7b2a9*/
    /*https://coolors.co/0d0c0c-140d0d-1a0e0e-271010-411414-5b1818-751c1c-a92424-c32828-dd2c2c*/
}

body {
    background-color: var(--bgColor);
}

nav {
    background-color: var(--black);
    min-height: var(--headerFontSize);
    color: var(--textColor);
    position: sticky;
    top: 0;
}

#navigationList {
    height: inherit;
    list-style-type: none;
    margin: 0 0 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    color: inherit;
}

.navigationListItem {
    background-color: inherit;
    border-left: 3px solid var(--textColor);
    color: inherit;
}

.navigationLink {
    font-weight: bold;
    font-size: var(--headerFontSize);
    float: left;
    color: var(--textColor);
}

.navigationListItem .navigationLink {
    display: block;
    color: inherit;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    height: -webkit-fill-available;
}

#navigationListStart {
    margin-left: auto;
}

#logoTitle {
    color: #F7B2A9;
    font-size: 2.5rem;
    text-decoration: none;
}

#tape-container {
    margin-top: 20px;
    background-color: var(--black);
    color: var(--textColor);
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#movie-container, #theater-container {
    background-color: inherit;
    display: flex;
}

.movie-title {
    text-align: center;
    height: 25px
}

.movie-date {
    text-align: center;
    text-wrap: nowrap;
}

.theater-box {
    background-color: var(--red);
    border-radius: 20px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    text-wrap: auto;
}

.movie-box {
    background-color: var(--black);
    min-width: 180px;
    width: 180px;
    margin: 10px;
    text-wrap: auto;
    cursor: pointer;
}

.get-tickets-button {
    display: block;
    margin: 5px auto 0 auto;
    background-color: var(--highLightedColor);
    border: 1.5px solid var(--bgColor);
    border-radius: 5px;
}

.cover-image {
    background-color: var(--bgColor);
    width: 100%;
    height: 270px;
    margin: auto;
    border-radius: 5px;
}

#admin-panel {
    background-color: #cccccc;
    border-radius: 20px;
    padding: 30px;
    position: fixed;
    top: 50%;
    right: 0;
}
